html
  include partials/header.pug
  body
    include partials/nav.pug
    .container
      .row.justify-content-center.align-items-center#login-screen
        .col-8.login
          h3.loginTitle Complete Your Registration
          p.text-center.instructions If you choose to add an email address and password you will then be able to log in with those credentials as well as your linked social media account.
          .row
            .col-sm-12
              form.form-group#login-form(action="", autocomplete="off", method="POST")
                .input-group
                  span.input-group-addon
                    i.fa.fa-user
                  if user.name
                    input.form-control.form-control-lg(type="text", name="name", placeholder="Full Name", value=user.name, required)
                  else
                    input.form-control.form-control-lg(type="text", name="name", placeholder="Full Name", required)
                if errors
                  each val in errors
                    if val.msg == 'Name is required'
                      div.help-block= val.msg
                    else
                      div.help-block
                else
                  div.help-block
                .input-group
                  span.input-group-addon
                    i.fa.fa-envelope
                  if user.username
                    input.form-control.form-control-lg(type="text", name="username", placeholder="Email Address", value=user.username, required)
                  else
                    input.form-control.form-control-lg(type="text", name="username", placeholder="Email Address", required)
                if errors
                  each val in errors
                    if val.msg == 'Email is not valid'
                      div.help-block= val.msg
                    else
                      div.help-block
                else
                  div.help-block
                .input-group
                  span.input-group-addon
                    i.fa.fa-lock
                  input.form-control.form-control-lg(type="password", name="password", placeholder="Password")
                if errors
                  each val in errors
                    if val.msg == 'Password is required'
                      div.help-block= val.msg
                    else
                      div.help-block
                else
                  div.help-block
                .input-group
                  span.input-group-addon
                    i.fa.fa-lock
                  input.form-control.form-control-lg(type="password", name="password2", placeholder="Confirm Password")
                if errors
                  each val in errors
                    if val.msg == 'Passwords do not match'
                      div.help-block= val.msg
                    else
                      div.help-block
                else
                  div.help-block
                button.btn.btn-lg.btn-primary.btn-block#submit-button(type="submit") Complete Registration
          .row
            .col-sm-12
              if success_msg != ""
                div.alert.alert-success.text-center(role="alert") #{success_msg}
              if error_msg != ""
                div.alert.alert-danger.text-center(role="alert") #{error_msg}
              if error != ""
                div.alert.alert-danger.text-center(role="alert") #{error}
    script(src="../js/login.js")
    include partials/footer.pug
